html, body {
	width: 100%;
	height: 100%;
}

#booth-container {
	width: 800px;
	height: 480px;
	max-height: 100%;
	max-width: 100%;

	margin: 30px auto;
}

#film-roll {
	min-height: 200px;
	background: black;
	margin-top: 5px;
	border-radius: 3px;
	padding: 5px;
}

#film-roll img {
	width: auto;
	height: 100px;
	float: left;
	margin: 5px;
	border-radius: 5px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */