<!DOCTYPE html>
<html>
<head>
	<title>WebRTC Photo Booth</title>
	<link rel="stylesheet" href="../webrtc-photo-booth.css">
	<link rel="stylesheet" href="index.css">

	<script src="../bower_components/angular/angular.js"></script>
	<script src="../webrtc-photo-booth.js"></script>
	<script src="index.js"></script>
</head>
<body>
	<div ng-app="example-app">
		<div id="booth-container" ng-controller="ExampleAppController">
			<webrtc-photo-booth photo-callback="takePhoto(image)"></webrtc-photo-booth>
			<div id="film-roll" class="clearfix">
				<div class="photo" ng-repeat="image in images" ng-click="removePhoto(image.id)">
					<img src="{{image.source}}">
				</div>
			</div>
		</div>
	</div>
	<canvas id="render-canvas"></canvas>
</body>
</html>