.webrtc-photo-booth {
	position: relative;
	background: #333;
	width: 100%;
	height: 100%;
}

.webrtc-photo-booth video {
	width: 100%;
	height: 100%;
	margin-left: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
}

.webrtc-photo-booth button {
	position: absolute;
	bottom: 10px;
	left: 50%;

	background: tomato;
	border: 2px solid #333;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;

	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);

	cursor: pointer;
}

.webrtc-photo-booth button:hover {
	background: red;
}

.webrtc-photo-booth button:active {
	background: orange;
}

.webrtc-photo-booth canvas {
	display: none;
}